<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - portfolio</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<body>
    <header class="head">
        <nav class="menu">
            <div class="menu-center">
                <ul>
                    <li>
                        <a href="#">Alessandro</a>
                    </li>
                    <li>
                        <a href="#contatos">Contatos</a>
                    </li>
                    <li>
                        <a href="#trabalhos">Portfolio</a>
                    </li>
                    <li>
                        <a href="#conhecimentos">Conhecimentos</a>
                    </li>
                    <li>
                        <a href="#sobre">Sobre</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="footer-center">
            &copy; 2022 - portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
