@{
    ViewData["Title"] = "Home Page";
}

<body>
    <section class="inicio">
        <div class="inicio-center" id="inicio">
            <p id="status">Back-End</p>
            <p id="dev">C# DEV</p>
        </div>
    </section>

    <section class="sobre" id="sobre">
        <div class="sobre-center">
            <h2>Sobre mim</h2>
            <div class="esquerda">
                <p>
                    Me chamo Alessandro de Oliveira, sou desenvolvedor Back-End, atualmente atuando como
                    free-lancer.<br>
                    Sou apaixonado por tecnologia e por tudo aquilo que ela pode
                    proporcionar para o desenvolvimento de nossa sociedade.<br>
                    Me formei em Análise e desenvolvimento de sistemas pela faculdade
                    UNIP e tenho realizado alguns cursos voltados para programação,
                    principalmente utilizando a linguagem C#.<br>
                    Aqui neste site você encontrará alguns projetos em que trabalhei
                    e minhas redes sociais, caso queira entrar em contato comigo.

                </p>
            </div>
            <div class="direita">
                <p>
                    <img src="../img/c.gif">
                </p>
            </div>
        </div>
    </section>

    <section class="conhecimentos" id="conhecimentos">
        <div class="conhecimentos-center">
            <h2>Conhecimentos</h2>
            <ul>
                <li>
                    <div class="container">
                        <span><img
                                src="https://growiz.com.br/wp-content/uploads/2020/08/kisspng-c-programming-language-logo-microsoft-visual-stud-atlas-portfolio-5b899192d7c600.1628571115357423548838.png" /></span>
                    </div>
                    <div class="botton">C#</div>
                </li>
                <li>
                    <div class="container">
                        <span><img src="https://blog.betrybe.com/wp-content/uploads/2021/10/asp.net_.png" /></span>
                    </div>
                    <div class="botton">Asp.Net MVC</div>
                </li>
                <li>
                    <div class="container">
                        <span><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" /></span>
                    </div>
                    <div class="botton">HTML</div>
                </li>
                <li>
                    <div class="container">
                        <span><img src="https://logospng.org/download/css-3/logo-css-3-2048.png" /></span>
                    </div>
                    <div class="botton">CSS</div>
                </li>
            </ul>
        </div>
    </section>
    <section class="conhecimentos" id="trabalhos">
        <div class="conhecimentos-center">
            <h2>Portfolio</h2>
            <ul>
                <li>
                    <div class="container">
                        <a href="https://github.com/AlessandroOSilva/SalesWebMVC">SalesWebMVC</a>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <a href="https://github.com/AlessandroOSilva/PokedexWPF">Pokedex WPF</a>
                    </div>
                </li>
                <li>
                    <div class="container">
                        Em Breve...
                    </div>
                </li>
                <li>
                    <div class="container">
                        Em Breve...
                    </div>
                </li>
            </ul>
            <div class="escondido">
                <ul>
                    <li>
                        <div class="container">
                            Em Breve...
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            Em Breve...
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            Em Breve...
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            Em Breve...
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="conhecimentos" id="contatos">
        <div class="conhecimentos-center">
            <h2>Contatos</h2>
            <div class="contatos">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/alessandro767/" target="_blank"><img
                                src="https://www.facebook.com/images/fb_icon_325x325.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alessandrosilva777/" target="_blank"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png"></a>
                    </li>
                    <li>
                        <a href="https://github.com/AlessandroOSilva?fbclid=IwAR0eTiuPTKYkQ44v2WSuoiIaqMTt-ycrsJGX8N5KrhWJCBE63BqFQfXeBqs"
                            target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alessandro767/" target="_blank"><img
                                src="https://cdn-icons-png.flaticon.com/512/174/174857.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>